@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2563eb;
  --secondary-color: #4f46e5;
  --accent-color: #ec4899;
}

.page-transition {
  @apply animate-fadeIn;
}